@font-face {
    font-family: 'YangJin';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/yangjin/YangJin.ttf') format("truetype");
    font-display: swap;
} 